<%= form_with(model: transation, multipart: true, local: true) do |form| %>
  <% if transation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transation.errors.count, "error") %> prohibited this transation from being saved:</h2>

      <ul>
      <% transation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :transation_type %>

    <%= form.select :transation_type, [["Débito (+)", 1],
    ["Boleto (-)", 2],
    ["Financiamento (-)", 3],
    ["Crédito (+)", 4],
    ["Recebimento Empréstimo (+)", 5],
    ["Vendas (+)", 6],
    ["Recebimento TED (+)", 7],
    ["Recebimento DOC (+)", 8],
    ["Aluguel (-)", 9]] %>

    
  </div>

  <div class="field data_fields">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :store_id %>
    <%= form.select :store_id, @stores.map{|store| [store.name, store.id]} %>
  </div>

  <div class="field">
    <%= form.label :representative_id %>
    <%= form.select :representative_id, @representatives.map{|rep| [rep.name, rep.id]} %>
  </div>

  <div class="field">
    <%= form.label :card %>
    <%= form.text_field :card %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
