<p id="notice"><%= notice %></p>

<h1>Transações</h1>
<div class="send_transition">
<%= form_tag  ('/transations/cnab_upload') ,multipart: true do %>
  <label for="file">Envie um arquivo CNAB de padrão Comum</label> <%= file_field_tag "file" %>
  <div class="sender">
  <div><%= submit_tag 'Clique para processá-lo' %></div>
  <div><%= link_to 'Cadastrar manualmente', new_transation_path %></div></div>
<% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Loja</th>
      <th>Representante</th>
      <th>Tipo</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Cartão</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transations.each do |transation| %>
      <tr>
      
      <td><%= link_to transation.store_name , store_path(transation.store_id) %></td>
      <td><%= transation.representative_name %>(<%= transation.representative_cpf %>)</td>

        <td><%= transation.type_name %></td>
        <td><%= transation.date.strftime("%d/%m/%Y") %> às <%= Time.at(transation.time).to_s(:time) %></td>
        <td>R$ <%= transation.value %></td>
        <td><%= transation.card %></td>
        <td><%= link_to 'Destroy', transation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

